# IMORTING AND CLEANING DATA

##### I am here importing the data and cleaning the empty and absurd values out of the data to make it ready for analysis.

In [186]:
from pandas import *

In [187]:
df = read_csv(r'C:\Users\harsi\OneDrive\Documents\MENTAL HEALTH DATASET - MENTAL HEALTH DATASET.csv')
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 1:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [188]:
df['Gender'] = df['Gender'].replace(dict.fromkeys(['M','Male ','Make','Mail','Mal','Male-ish','male','m','Male (CIS)','Malr','Man ','cis male','maile','msle','Cis Male','Cis Man','Man'], 'Male'))
df['Gender'] = df['Gender'].replace(dict.fromkeys(['Cis Female','F','Femake','Female ','Female (cis)','Woman','cis-female/femme','f','femail','female','woman'], 'Female'))
df['Gender'] = df['Gender'].replace(dict.fromkeys(['Female (trans)','Trans woman','Trans-female','Genderqueer','queer','queer/she/they','non-binary','Agender','fluid'], 'Trans'))

In [194]:
df1 = df.loc[df['Gender'].isin(['Male', 'Female', 'Trans'])]
df2 = df1.loc[(df['Age'].isin(range(0,60)))]
df2

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,Male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 1:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,Female,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [195]:
df2[['state', 'self_employed']] = df2[['state', 'self_employed']].fillna('Not Known')
df2['work_interfere'] = df2['work_interfere'].fillna('No Work')
df2['comments'] = df2['comments'].fillna('No Comments')
df2

c:\users\harsi\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
c:\users\harsi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\harsi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,Not Known,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,No Comments
1,2014-08-27 11:29:37,44,Male,United States,IN,Not Known,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,No Comments
2,2014-08-27 11:29:44,32,Male,Canada,Not Known,Not Known,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,No Comments
3,2014-08-27 11:29:46,31,Male,United Kingdom,Not Known,Not Known,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,No Comments
4,2014-08-27 11:30:22,31,Male,United States,TX,Not Known,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,No Comments
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,Male,United Kingdom,Not Known,No,No,Yes,No Work,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,No Comments
1255,2015-09-26 1:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,No Comments
1256,2015-11-07 12:36:58,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,No Comments
1257,2015-11-30 21:25:06,46,Female,United States,NC,No,No,No,No Work,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,No Comments
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,No Comments

# SUMMARY

##### Here I will calculate the mean, aveages and modes of the columns that are present in the dataframe in order to get an overview of the data I have.

In [197]:
df2.describe()

               Age
count  1239.000000
mean     31.907183
std       7.034207
min       5.000000
25%      27.000000
50%      31.000000
75%      36.000000
max      58.000000

In [203]:
df3 = df2.groupby('no_employees').size()
df3

no_employees
1-5               157
100-500           174
26-100            286
500-1000           59
6-25              287
More than 1000    276
dtype: int64

In [204]:
df4 = df2.groupby('Gender').size()
df4

Gender
Female    246
Male      983
Trans      10
dtype: int64

In [206]:
df5 = df2.groupby(['Country', 'state']).size()
df5

Country                 state
Australia               Not Known    21
Austria                 Not Known     3
Belgium                 Not Known     6
Bosnia and Herzegovina  Not Known     1
Brazil                  Not Known     6
                                     ..
United States           WA           70
                        WI           12
                        WV            1
                        WY            2
Uruguay                 Not Known     1
Length: 93, dtype: int64

In [209]:
df6 = df2.groupby('work_interfere').size()
df6

work_interfere
Never        211
No Work      260
Often        139
Rarely       172
Sometimes    457
dtype: int64

# EXPORTING DATASET FOR TABLEAU VISUALISATION

In [208]:
df2.to_csv(r'C:\Users\harsi\OneDrive\Documents\MENTAL HEALTH DATASET - MENTAL HEALTH DATASET1.csv')